extends ../template/template

append config
    - var currentPage  = 'Inicio';

block content
    section(class="banner")
        div(class="banner__content")
            h1 Business
                span Startup
            p Sed ut perspiciatis unde omnis iste natus doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
            button( type="submit" class="btn btn-primary") Leer más
        div(Class="banner__img")
            img(src="images/banner.png", alt="Banner")
    section(class="card")
        +card(
            'img1',
            'Dolor sit',
            'Ut enim ad minim veniam, quis nostrud.Excepteur sint occaecat cupidatat non proident'
        )
        +card(
            'img2',
            'Conser tetur',
            'Ut enim ad minim veniam, quis nostrud.Excepteur sint occaecat cupidatat non proident'
        )
        +card(
            'img3',
            'Adipt sign',
            'Ut enim ad minim veniam, quis nostrud.Excepteur sint occaecat cupidatat non proident'
        )
    section(class="experiencia")
        div(class="content")
            span(class="exp__subtema") Consultoría de negocios
            h2(class="exp__tema") 25 años de experiencia en la industria 
            p(class="exp__descripcion") Integer pulvinar leo id viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel, ultrices in ligula.
            ul(class="exp__list")
                li Base de marketing
                li Consutas financieras
                li Consejos en inversión
                li Crecimiento del negocio
                li Soporte técnico
            a(href="acerca-de.html" class="btn btn-primary exp__button") Leer más
        div(Class="img")
            img(src="images/b1.png")
    section(class="servicios")
        h3 Nuestros servicios
        p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        div(Class="card")
            +service(
                'fa fa-line-chart',
                'Crecimiento del negocio',
                'Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.'
            )
            +service(
                'fa fa-usd',
                'Plan financiero',
                'Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.'
            )
            +service(
                'fa fa-lightbulb-o',
                'Servicios de negocios',
                'Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.'
            )
    section(class="estadisticas")
        div(class="img")
            img(src="images/b2.png")
        div(class="content")
            h3 Algunos datos de nuestra compañia
            h4 Excepteur sint occaecat cupidatat non proident.
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            div(class="content__data")
                +dato('1000+', 'Proyectos completados')
                +dato('480+', 'Consultas')
                +dato('600+', 'Galardonado')
            div(class="content__data")
                +dato('480+', 'Consultas')
                +dato('600+', 'Galardonado')
                +dato('1000+', 'proyectos completados')