extends ../template/template

append config
    - var currentPage  = 'Inicio';

block content
    section(class="banner container")
        div(class="banner__content")
            h1 Business
                span Startup
            p Sed ut perspiciatis unde omnis iste natus doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
            button( type="submit" class="btn btn-primary") Leer más
        div(Class="banner__img")
            img(src="images/banner.png", alt="Banner")
    section(class="card")
        +card(
            'img1',
            'Dolor sit',
            'Ut enim ad minim veniam, quis nostrud.Excepteur sint occaecat cupidatat non proident'
        )
        +card(
            'img2',
            'Conser tetur',
            'Ut enim ad minim veniam, quis nostrud.Excepteur sint occaecat cupidatat non proident'
        )
        +card(
            'img3',
            'Adipt sign',
            'Ut enim ad minim veniam, quis nostrud.Excepteur sint occaecat cupidatat non proident'
        )