html {
  scroll-behavior: smooth;
}
body {
  color: $black;
  font-size: 16px;
  font-family: poppins;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 1px 2px rgb(200, 200, 200);
}

.logo {
  font-size: 2rem;
  color: $purple;
  span {
    font-weight: bold;
    text-shadow: 0px 0px 2px $black;
  }
}

a {
  text-decoration: none;
}

//MENU
.menu {
  line-height: 5px;
}
.menu ul {
  display: flex;
  line-height: 18px;
  li {
    list-style: none;
    a {
      color: $black;
      transition: all 500ms;
      display: block;
      padding: 10px 20px;
      &:hover {
        color: $green;
      }
      i {
        padding-left: 5px;
      }
    }
  }
}

.menu ul ul {
  position: absolute;
  display: none;
  z-index: 30;
  padding: 0px;
  background: $black;
  padding: 10px 0px;
  li a {
    padding: 10px;
    color: #fff;
    padding: 15px 30px 15px 15px;
  }
}
.menu ul li:hover .submenu {
  display: block;
}

//BUSCAR
.buscar {
  display: flex;
}
input[type="search"],
input[type="email"] {
  outline: none;
  padding-left: 15px;
  color: rgb(41, 41, 41);
}
::placeholder {
  color: rgb(156, 156, 156);
  font-size: 0.9rem;
}
input[type="search"],
button[type="submit"] {
  height: 40px;
  border: none;
  background: rgba(238, 238, 238, 0.822);
  transition: all 500ms;
}

button[type="submit"],
.btn-primary {
  margin-left: -6px;
  background: $green;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background: #09ddaf;
  }
}

.descargar i {
  background: $purple;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin-left: 10px;
  border-radius: 3px;
  transition: all 500ms;
  &:hover {
    background: #7c68e4;
  }
}
.menu-sm {
  display: flex;
  justify-content: end;
}
.icon-menu label {
  display: none;
  border: 1px solid $black;
  height: 32px;
  line-height: 32px;
  padding: 3px;
  cursor: pointer;
}
.toggle {
  display: block !important;
}

//ESTADISTICAS
.estadisticas {
  background: #fff;
  padding: 60px;
  display: flex;
  align-items: center;
  .img {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .content {
    h3 {
      font-size: 2rem;
    }
    h4 {
      width: 350px;
      color: rgb(82, 81, 81);
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2;
    }
    p {
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 0.9rem;
      width: 700px;
    }
    .content__data{display: flex;}
    .dato {
      width: 200px;
      margin: 30px 0px; 
      overflow: hidden;
      p {
        font-size: 1.7rem;
        font-weight: bold;
        margin: 5px 0px;
      }
      span {
        color: rgb(82, 81, 81);
        font-size: 0.9rem;
      }
    }
  }
}

//SUSCRIBIRSE
.suscribirse {
  padding: 60px;
  background: #f8f8f8;
  text-align: Center;
  .center {
    width: 70%;
    margin: 0px auto;
  }
  i {
    background: $green;
    padding: 25px;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 100%;
  }
  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    color: rgb(82, 81, 81);
    line-height: 1.7;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  input[type="email"] {
    height: 50px;
    width: 70%;
    border: none;
    box-shadow: 0px 0px 15px rgb(231, 231, 231);
    border-radius: 5px 0px 0px 5px;
  }
  input[type="submit"] {
    width: 25%;
    height: 53px;
    border: none;
    margin-left: -5px;
    background: $purple;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: all 500ms;
    &:hover {
      background: #7c68e4;
    }
  }
}
// FOOTER
footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 0px -1px 2px rgb(200, 200, 200);
}
.social__list {
  display: flex;
  .social__icon {
    list-style: none;
    a {
      color: $purple;
      padding: 5px;
      font-size: 1.4rem;
    }
  }
}

.copyright {
  font-size: 1rem;
  line-height: 30px;
  padding: 0px 20px;
  text-align: center;
  a {
    color: $purple;
  }
}
.to-top {
  line-height: 60px;
  padding: 0px 40px;
  i {
    color: $green;
    font-size: 1.5rem;
  }
}

//BANNER
.banner {
  display: flex;
  padding: 60px;
  margin-top: 30px;
  align-items: center;
  &__content {
    width: 50%;
    h1 {
      font-size: 4em;
      margin-bottom: 0px;
      span {
        display: block;
        color: $green;
      }
    }
    p {
      padding-right: 30px;
      font-size: 1.1rem;
      line-height: 2;
      color: rgb(126, 126, 126);
      margin-bottom: 30px;
    }
    button[type="submit"] {
      padding: 25px;
      margin-left: 0px;
      line-height: 0px;
    }
  }
  &__img {
    width: 50%;
  }
  img {
    width: 100%;
  }
}

//CARD
.card {
  display: flex;
  justify-content: space-around;
  background: #f8f9fa;
  padding: 60px 0px;
  &-body {
    width: 17%;
    margin: 30px 0px;
    padding: 40px 50px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 10px rgb(184, 183, 183);
    img {
      border-radius: 100%;
    }
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 500;
  }
  &__description {
    line-height: 1.5;
    color: rgb(109, 109, 109);
    font-weight: 300;
  }
  &__button {
    display: block;
    margin: 30px 0px;
    padding: 10px 40px;
    background: $purple;
    &:hover {
      background: rgb(103, 54, 182);
    }
  }
}

//EXPERIENCIA
.experiencia {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
  padding: 60px;
  align-items: center;
  .content {
    align-items: center;
    width: 60%;
    padding-right: 40px;
    .exp__subtema {
      color: $green;
      font-size: 1rem;
    }
    .exp__tema {
      font-size: 2rem;
      margin: 10px 0px;
      line-height: 1.4;
      width: 400px;
    }
    .exp__descripcion {
      color: rgb(98, 98, 98);
      font-weight: 300;
      width: 500px;
      line-height: 1.5;
      font-size: 0.9rem;
      letter-spacing: 1.5px;
    }
    .exp__list {
      line-height: 2;
      padding: 0px 20px;
      margin-bottom: 50px;
    }
    .exp__button {
      padding: 15px;
      margin: 0px;
    }
  }
  .img {
    width: 40%;
    img {
      width: 100%;
    }
  }
}

//SERVICIOS
.servicios {
  background: #f8f9fa;
  text-align: center;
  padding: 30px;
  h3 {
    font-size: 2.5rem;
    margin: 10px;
  }
  p {
    width: 65%;
    margin: 10px auto;
    color: rgb(129, 129, 129);
    line-height: 1.5;
    letter-spacing: 1px;
  }
  .card-body {
    width: 22%;
    margin: 0px 10px;
    &:nth-child(1) i {
      padding: 21px;
    }
    &:nth-child(2) i {
      background: #1de9b6;
    }
    &:nth-child(3) i {
      background: $purple;
    }
    i {
      padding: 20px 30px;
      background: tomato;
      border-radius: 100%;
      font-size: 2rem;
      color: #fff;
    }

    h4 {
      font-size: 1.4rem;
      margin: 15px 0px;
      font-weight: 400;
    }
    p {
      width: 100%;
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 1.8;
      color: rgb(41, 41, 41);
    }
  }
}
// RESPONSIVE DESIGN

@media (max-width: 1260px) {
  .container {
    width: 98%;
  }
  .experiencia {
    .img {
      width: 100%;
      margin-left: 10px;
      img {
        min-width: 300px;
      }
    }
  }
}
@media (max-width: 1200px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  .icon-menu label {
    display: block;
  }
  .menu-sm {
    display: flex;
    justify-content: space-between;
  }
  .buscar {
    justify-content: center;
    position: relative;
  }
  .menu {
    display: none;
    justify-content: center;
    text-align: center;
    ul {
      flex-direction: column;
    }
  }
  .menu ul li:hover .submenu {
    display: none;
  }
  .menu ul li {
    padding: 5px 0px;
  }
  .menu ul ul {
    background: transparent;
    padding: 0;
    li a {
      color: $black;
    }
  }
  .estadisticas{
    .img{
    width: 45%;
    }
    .content{
      padding-left: 40px;
      width: 50%;
      p{
        width: 400px;
      }
      .dato{
        width: 170px;
      }
    }
    
  }
  .suscribirse {
    .center {
      width: 80%;
      margin: 0px auto;
    }
  }
}

@media (max-width: 860px) {
  body {
    font-size: 14px;
  }
  .banner {
    flex-direction: column;
    &__content {
      width: 100%;
      padding-left: 40px;
      h1 {
        margin: 0px;
      }
    }
    &__img {
      width: 70%;
    }
  }
  .experiencia {
    flex-direction: column;
    padding: 40px;
    .content {
      width: 100%;
      padding: 0px 40px;
      .exp__tema {
        width: 100%;
      }
      .exp__descripcion {
        width: 100%;
      }
      .exp__list {
        font-size: 1rem;
      }
      .exp__button {
        padding: 15px;
        margin: 0px;
      }
    }
    .img {
      margin: 20px auto;
      width: 70%;
    }
  }
  .card {
    flex-direction: column;
    &-body {
      width: 40%;
      margin: 20px auto;
    }
  }
  .servicios {
    h3 {
      width: 100%;
    }
    p {
      width: 100%;
    }
    .card-body {
      margin: 10px auto;
      width: 40%;
    }
  }
  .estadisticas{
    flex-direction: column;
    .img{
    width: 70%;
    }
    .content{
      width: 100%;
      p{
        width: 90%;
        line-height: 2;
      }
      h4{
        width: 90%;
      }
      .content__data .dato{

        width: 400px;
      }
    }
    
  }
  .suscribirse {
    padding: 60px 0px;
    .center {
      width: 90%;
    }
  }
  footer {
    flex-direction: column;
    justify-content: center;
    text-align: Center;
    .social__list {
      justify-content: center;
      padding: 0px;
    }
  }
}

@media (max-width: 640px) {
  .card-body {
    width: 60%;
    margin: 20px auto;
  }
  .servicios {
    h3 {
      font-size: 2rem;
    }
  }
  .estadisticas{
    h3{
      width: 350px;
    }
  }
  .content__data {
    flex-direction:column;
    .dato{
      margin: 10px 0px !important;
    }
  }
}
