html{
  scroll-behavior: smooth;
}
body {
  color: $black;
  font-size: 16px;
  font-family: poppins;
}
.container {
  max-width: 90%;
  margin: 0px auto;
}
header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 1px 2px rgb(200, 200, 200);

}

.logo {
  font-size: 2rem;
  color: $purple;
  span {
    font-weight: bold;
    text-shadow: 0px 0px 2px $black;
  }
}

a {
  text-decoration: none;
}

//MENU
.menu {
  line-height: 5px;
}
.menu ul {
  display: flex;
  li {
    list-style: none;
    a {
      color: $black;
      transition: all 500ms;
      display: block;
      padding: 10px 20px;
      &:hover {
        color: $green;
      }
    }
  }
}

.menu ul ul {
  position: absolute;
  display: none;
  z-index: 30;
  padding: 0px;
  background: $black;
  padding: 10px 0px;
  li a {
    padding: 10px;
    color: #fff;
    padding: 15px 30px 15px 15px;
  }
}
.menu ul li:hover .submenu {
  display: block;
}

//BUSCAR
.buscar {
  display: flex;
}
input[type="search"] {
  outline: none;
  padding-left: 15px;
  color: rgb(41, 41, 41);
}
::placeholder {
  color: rgb(156, 156, 156);
  font-size: 0.9rem;
}
input[type="search"],
button[type="submit"] {
  height: 40px;
  border: none;
  background: rgba(238, 238, 238, 0.822);
  transition: all 500ms;
}

button[type="submit"] {
  margin-left: -6px;
  background: $green;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background: #09ddaf;
  }
}

.descargar i {
  background: $purple;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin-left: 10px;
  border-radius: 3px;
  transition: all 500ms;
  &:hover {
    background: #7c68e4;
  }
}
.menu-sm {
  display: flex;
  justify-content: end;
}
.icon-menu label {
  display: none;
  border: 1px solid $black;
  height: 32px;
  line-height: 32px;
  padding: 3px;
  cursor: pointer;
}
.toggle {
  display: block !important;
}
.content{
  min-height:1000px;
}
// FOOTER
footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 0px -1px 2px rgb(200, 200, 200);
}
.social__list {
  display: flex;
  .social__icon {
    list-style: none;
    a {
      color: $purple;
      padding: 5px;
      font-size: 1.4rem;
    }
  }
}
.copyright {
  font-size: 1rem;
  line-height: 30px;
  padding: 0px 20px;
  text-align:center;
  a {
    color: $purple;
  }
}
.to-top {
  line-height: 60px;
  padding: 0px 40px;
  i {
    color: $green;
    font-size: 1.5rem;
  }
}

//BANNER
.banner{
  display: flex;
  margin-top: 30px;
  align-items: center;
  &__content{
    width: 50%;
    h1 {
      font-size: 4em;
      margin-bottom:0px;
      span{
        display: block;
        color:$green;
      }
    }
    p{
      padding-right: 30px;
      font-size: 1.1rem;
      line-height: 2;
      color: rgb(126, 126, 126);
      margin-bottom: 30px;
    }
    button[type="submit"]{
      padding: 25px;
      margin-left: 0px;
      line-height: 0px;
    }
  }
  &__img{
    width: 50%;
  }
  img{
    width: 100%;
  }
}


// RESPONSIVE DESIGN

@media (max-width: 1260px) {
  .container {
    width: 98%;
  }
}
@media (max-width: 1200px) {
  header {
    flex-direction: column;
    height: auto;
    padding:20px;
  }
  .icon-menu label {
    display: block;
  }
  .menu-sm {
    display: flex;
    justify-content: space-between;
  }
  .buscar {
    justify-content: center;
    position:relative;
  }
  .menu {
    display: none;
    justify-content: center;
    text-align: center;
    ul {
      flex-direction: column;
    }
  }
  .menu ul li:hover .submenu {
    display: none;
  }
  .menu ul li {
    padding: 5px 0px;
  }
  .menu ul ul {
    background: transparent;
    padding: 0;
    li a {
      color: $black;
    }
  }
}

@media (max-width:860px){
  body{
    font-size: 14px;
  }
  .banner{
    flex-direction: column;
    &__content{
      width: 100%;
      padding-left: 40px;
    }
    &__img{
      width: 70%;
    }
  }
  footer{
    flex-direction: column;
    justify-content: center;
    text-align:Center;
    .social__list{
      justify-content: center;
      padding: 0px;
    }
  }
  
}