//- VARIABLES
- var currentPage = '';
- var pageTitle = 'Daniel';

-
    var menu = [
        {
            title: 'Inicio',
            url: 'index.html',
            child: []
        },
        {
            title: 'Precios',
            url: 'precios.html',
            child: []
        },
        {
            title: 'Acerca De',
            url: 'acerca-de.html',
            child: []
        },
        {
            title: 'Submenu',
            url: '#',
            child: [
                {
                    title: '404',
                    url: '404.html'
                },
                {
                    title: 'Servicios',
                    url: 'servicios.html'
                },
                {
                    title: 'Nuestro Equipo',
                    url: 'equipo.html'
                },
                {
                    title: 'Porqué nosotros?',
                    url: 'porque-nosotros.html'
                }
            ]
        },
        {
            title: 'Contáctenos',
            url: 'contacto.html',
            child: []
        }
    ]

//- MIXINS

mixin card(img, title, description)
    div(Class="card-body")
        img(src="images/"+img+".png")
        h4(class="card__title")=title
        p(class="card__description")=description
        a(href="acerca-de.html" class="btn btn-primary card__button") Leer más
