section(class="suscribirse")
    div(Class="center")
        i(class="fa fa-envelope")
        h3 Mantente actualizado!
        p  Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        form(action="" method="post" class="suscribe")
            input(type="email", name="suscribe" placeholder="Ingrese su email...")
            input(type="submit", value="Suscribirse" class="btn btn-secondary")

footer
    div(class="social")
        ul(class="social__list")
            li(class="social__icon")
                a(href="#")
                    i(class="fab fa-facebook")
            li(class="social__icon")
                a(href="#")
                    i(class="fab fa-twitter")
            li(class="social__icon")
                a(href="#")
                    i(class="fab fa-google-plus")
            li(class="social__icon")
                a(href="#")
                    i(class="fab fa-instagram")
    div(class="copyright")
        p © 2020 Startup. Todos los derechos reservados | Diseñado por 
            a(href="#") Daniel Hernández

    div(class="to-top")
        a(href="#" id="up") 
            i(class="fa fa-level-up-alt")