footer
    div(class="social")
        ul(class="social__list")
            li(class="social__icon")
                a(href="#")
                    i(class="fab fa-facebook")
            li(class="social__icon")
                a(href="#")
                    i(class="fab fa-twitter")
            li(class="social__icon")
                a(href="#")
                    i(class="fab fa-google-plus")
            li(class="social__icon")
                a(href="#")
                    i(class="fab fa-instagram")
    div(class="copyright")
        p © 2020 Startup. Todos los derechos reservados | Diseñado por 
            a(href="#") Daniel Hernández

    div(class="to-top")
        a(href="#menu") 
            i(class="fa fa-level-up-alt")